.logo-links-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-links {
    padding: 10px;
}

header {
    background-color: #233753;
    padding-bottom: 20px;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 6px;
}

.header-content-and-image-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

img.rounded {
    border-radius: 15px;
}

.Hero-Main-Text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.Hero-Secondary-Text {
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px;
    margin: 5px;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.Hero-Secondary-Text a:visited {
    color: #e5e7eb;
}



.main-content-bundles {}

.bundle-item {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
}

.bundles {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #e5e7eb;
    margin: 15px;
    padding-top: 50px;
    padding: 25px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    max-width: 500px;
}

.bundle-title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

.credit {
    font-weight: 900;
    max-width: 500px;
}

.credit-container {
    width: 500px;
    text-align: right;
}

.call-to-action {
    background-color: #3882F6;
    max-width: 500px;
    flex: 1;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-to-action-container {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.call-to-action-content-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px;
    margin-left: 0;
}

.call-to-action-content-small {
    font-size: 10px;
    color: white;
    font-weight: 400;
    margin: 0;
}

.call-to-action-button {
    height: auto;
    flex: 1;
    max-width: 100px;
    border-color: white;
    color: white;
}

footer {
    flex: 1;
    background-color: #233753;
    display: flex;
    justify-content: center;
}